@import "bootstrap";
@import "font-awesome";

.column {
  @extend .col-md-6;
  text-align: center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

///////////////////////////////////////

body {
  margin-top: 70px;
}
ul {
  margin: 0;
  padding:0
}

@media (max-width: 767px) {
  .hide_mobile {
    display: none;
  }
}