@import "bootstrap";
@import "font-awesome";

.column {
  @extend .col-md-6;
  text-align: center;
}
.form {
  @extend .col-md-6;
}
.form-centered {
  @extend .col-md-6;
  text-align: center;
}
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
}

main {
  @extend .container;
  margin-top: 30px; // accommodate the navbar
}

section {
  @extend .row;
  margin-top: 20px;
}

///////////////////////////////////////

body {
  margin-top: 70px;
}
ul {
  margin: 0;
  padding:0
}

@media (max-width: 767px) {
  .hide_mobile {
    display: none;
  }
}

.table > tbody > tr > td {
  vertical-align: middle;
}

@media screen and (min-width: 0px) and (max-width: 768px) {
  #div-mobile {    display: block;  }
  #div-desktop {    display: none;  }
}

@media screen and (min-width: 769px) and (max-width: 3000px) {
  #div-mobile {    display: none;  }
  #div-desktop {    display: block;  }
}

.carrinho a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

.minion-thumb {
  width: 50px;
}
.minion-big {
  width: 200px;
}